body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1{
  line-height: 1.7;
  word-spacing: 8px;
  font-size: 3rem;
}
.game {
  border: 2px solid black;
  padding: 40px;
  width: 200px;
  text-align: center;
  margin: 40px;
  background-color: rgb(64, 52, 52);
  color: #fff;
  font-size: 40px;
  border-radius: 38px;
}
.game:hover {
  background-color: rgb(117, 117, 196);
}
p {
  font-size: 40px;
  font-weight: 700;
}